/* ini untuk mode :default */
body {
    text-align: center;
    min-height: 100vh;
    align-content: center;
    background-color: #f4f6f8;
    color: #000;   
}
/* ini untuk mode dark */
body.dark{
    background-color: #121212;
    color: #ffffff;
}


table {
    margin: 20px auto; /* INI YANG MEMBUAT TABEL KE TENGAH */
    border-collapse: collapse;
    background-color: #f4f6f8;
}

th, td {
    padding: 10px;
    text-align: center;
    border :1px solid #ccc;
}
/* Tabel saat dark mode  */
body.dark table {
    background-color: #1e1e1e;
}
body.dark th,
body.dark td{
    border-color: #444;
}